@import 'tailwindcss';

body {
  /* font-family: 'SF Pro Rounded'; */
  padding: 0px;
  margin: 0px;
}

@keyframes shimmerWave {
  0% {
    background-position: 200% 0;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeZoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes smoothFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
.image_shadow {
  box-shadow: 0px 4px 147.1px rgba(0, 0, 0, 0.25);
}
.animate-fade-float1 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 9s ease-in-out 4s infinite;
}
.animate-fade-float2 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 6s ease-in-out 4s infinite;
}
.animate-fade-float3 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 8s ease-in-out 4s infinite;
}
.animate-fade-float4 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 7s ease-in-out 4s infinite;
}

.fade-up {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 3s;
  opacity: 0;
}
.fade-up-custom1 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 2.5s;
  opacity: 0;
}
.fade-up-custom2 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 2.8s;
  opacity: 0;
}
.fade-up-custom3 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 3.1s;
  opacity: 0;
}
.fade-up-custom4 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 3.4s;
  opacity: 0;
}

.wave-shimmer {
  position: relative;
  display: inline-block;
  color: transparent;
  background: linear-gradient(
    -90deg,
    #ffffff86 0%,
    #fffffff3 50%,
    #ffffff86 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  animation: shimmerWave 2.5s linear infinite;
}
