@import 'tailwindcss';
@tailwind utilities;

body {
  /* font-family: 'SF Pro Rounded'; */
  padding: 0px;
  margin: 0px;
}

@keyframes shimmerWave {
  0% {
    background-position: 200% 0;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeZoomIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes smoothFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
.image_shadow {
  box-shadow: 0px 4px 147.1px rgba(0, 0, 0, 0.25);
}
.animate-fade-float1 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 9s ease-in-out 4s infinite;
}
.animate-fade-float2 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 6s ease-in-out 4s infinite;
}
.animate-fade-float3 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 8s ease-in-out 4s infinite;
}
.animate-fade-float4 {
  transform: scale(0.1);
  animation: fadeZoomIn 1s ease-in-out 3s forwards,
    smoothFloat 7s ease-in-out 4s infinite;
}

.fade-up {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 3s;
  opacity: 0;
}
.fade-up-custom1 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 2.5s;
  opacity: 0;
}
.fade-up-custom2 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 2.8s;
  opacity: 0;
}
.fade-up-custom3 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 3.1s;
  opacity: 0;
}
.fade-up-custom4 {
  animation: fadeUp 1.3s ease-out forwards;
  animation-delay: 3.4s;
  opacity: 0;
}

.wave-shimmer {
  position: relative;
  display: inline-block;
  color: transparent;
  background: linear-gradient(
    -90deg,
    #ffffff86 0%,
    #fffffff3 50%,
    #ffffff86 100%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  animation: shimmerWave 2.5s linear infinite;
}
@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}
.loading-bar {
  animation: loadingBar 1.5s linear infinite;
}

@layer utilities {
  .text-input {
    @apply mt-3 outline-none! w-full max-w-[437px] xl:max-w-[437px] h-[57px] mx-auto border border-white rounded-2xl px-7 text-white placeholder-white placeholder:opacity-50 text-[18px] bg-[rgba(217,217,217,0.14)] flex items-center backdrop-blur-[7.1px];
  }

  .otp-input {
    @apply outline-none flex-1 w-full text-white h-[57px]
         border border-white backdrop-blur-[7.1px] rounded-2xl 
         placeholder:text-[20px] text-[20px] bg-[rgba(217,217,217,0.14)] 
         placeholder:text-white placeholder:opacity-[0.5] text-center;
  }

  .otp-input.error-text {
    @apply border-[#FF395D]! text-[#FF395D]!;
  }

  .outline_button {
    @apply max-w-[437px] xl:max-w-[437px] w-full h-[57px] mx-auto 
     border border-white text-[18px] rounded-2xl font-normal text-white 
      items-center relative flex justify-center bg-transparent;
  }
  .linear_button {
    @apply max-w-[437px] xl:max-w-[437px] w-full h-[57px] mx-auto
         text-[18px] relative rounded-2xl font-normal text-white  items-center flex justify-center;

    background: linear-gradient(140.98deg, #ec30e4 9.6%, #581dff 93.68%);
  }
  .secondary_button {
    @apply bg-[#581DFF] max-w-[437px] xl:max-w-[437px] w-full h-[57px] mx-auto
         text-[18px] relative rounded-2xl font-normal text-white items-center flex justify-center;
  }
  .waiting {
    @apply relative  text-transparent opacity-80;
    background: #6d6d6d;
  }

  .waiting::after {
    content: '';
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 
         w-5 h-5 border-3 border-white border-t-transparent rounded-full animate-spin;
  }

  .outline_button:hover {
    cursor: pointer;
  }
  .secondary_button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 147.1px rgba(0, 0, 0, 0.25);
  }
  .linear_button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 147.1px rgba(0, 0, 0, 0.25);
  }

  .otp-input:focus {
    outline: none !important;
  }
}
