.badge {
  width: 13vh;
  height: 5vh;
  font-weight: 700;
  font-size: 2.5vh;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.14);
  box-shadow: 0px 0px 42.8px rgba(255, 255, 255, 0.26);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 21.7px rgba(255, 255, 255, 0.6);
}
.linear_button {
  background: linear-gradient(140.98deg, #ec30e4 9.6%, #581dff 93.68%);
  border-radius: 16px;
}
.linear_time {
  width: 292px;
  background: linear-gradient(181.02deg, #ec30e4 7.07%, #581dff 97.64%);
  box-shadow: 0px 4px 65px rgba(216, 45, 232, 0.36);
  border-radius: 0px 130px 130px 0px;
}
.text_gradient {
  background: linear-gradient(144.18deg, #ffffff 19.09%, #ec30e4 94.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* fallback */
}
.image_shadow {
  box-shadow: 0px 4px 147.1px rgba(0, 0, 0, 0.25);
}
